@media (max-width: 992px) {
    .wrapper {
        padding: 0 24px;
    }
    .header .logo img {
        max-width: 120px;
    }
    .header nav ul {
        gap: 12px;
    }
    .header nav a {
        font-size: 12px;
    }
    .header .mail-link {
        font-size: 12px;
        line-height: 14px;
        padding: 8px 12px;
    }
    .main-screen__container h1 {
        font-size: 47px;
        line-height: 54px;
    }
    .brands {
        padding-top: 70px;
        padding-bottom: 106px;
    }
    .brands__container {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .header .logo img {
        max-width: 100px;
    }
    .header .mail-link {
        display: none;
    }
    .main-screen__container h1 {
        margin-top: auto;
        font-size: 40px;
        line-height: 44px;
    }
    .main-screen .mail-link {
        display: block;
        margin-top: auto;
        margin-bottom: 10px;
        max-width: 312px;
        width: 100%;    
    }
}

@media (max-width: 575px) {
    .header .wrapper,
    .main-screen .wrapper {
        padding: 0 16px;
    }
    .main-screen__container {
        height: 95vh;
    }
    .header .logo img {
        max-width: 76px;
    }
    .header nav {
        display: none;
    }
    .main-screen__container h1 { 
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    .main-screen .mail-link {
        font-size: 14px;
        line-height: 16px;
    }
    .brands {
        background-image: url('../images/brands-mob-bg.jpg');
        padding-top: 43px;
        padding-bottom: 32px;
    }
    .brands .wrapper {
        padding: 0 24px;
    }
    .brands__container {
        margin: inherit;
    }
    .brands h2 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .brands img {
        max-width: 244px;
        margin: 0 auto;
    }
    
    .brands h3 {
        font-size: 22px;
        line-height: 28px;
        margin-top: 340px;
        margin-bottom: 3px;
    }
    
    .brands p {
        font-size: 14px;
        line-height: 20px;
    }
    
    .brands a {
        font-size: 10px;
        line-height: 14px;
    }
}